<div class="container">
  <div class="row">
    <h2>Books</h2>
    <table　class="table">
      <tr>
        <th></th>
        <th>Title</th>
        <th>Opinion</th>
      </tr>
    
    </table>
  </div>
</div>